@use '../../sass/layout/flex';

.pagination {
  @include flex.flexWrap(var(--space-2));
  justify-content: center;

  .btn--pagination {
    background-color: var(--secondary-500);
    &[disabled] {
      background-color: var(--accent-400);
      color: var(--black);
    }
  }
}
