body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    line-height: 1;
}

p {
    font-size: var(--fs-0);
    max-width: 75ch;
}

.primary-heading {
    font-size: var(--fs-1);
    color: var(--white)
}

.sub-heading {
    font-size: var(--fs-2);
    margin-bottom: var(--space-3);
    padding: 0.5rem var(--space-2);
    background-color: var(--grey-300)
}

.text-primary {
    color: var(--primary-400);
}

.text-secondary {
    color: var(--tertiary-400);
}

.text-accent {
    color: var(--accent-500)
}

.hero__text {
    color: var(--white);
}

.custom-line-height {
    line-height: 1.2;
}
