.container {
    margin-inline: auto;
    width: 90%;
    max-width: 1600px;
}

.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: var(--space-3);
}

.mb-2 {
    margin-bottom: var(--space-4);
}

.mb-3 {
    margin-bottom: var(--space-5);
}

.my-1 {
    margin-block: var(--space-3);
}

.layout-margin {
    margin-top: 15dvh;
}
