section {
    padding-block: var(--space-6);
}

section:nth-child(odd){
    background: linear-gradient(265.21deg, var(--gradient-300) -16.97%, var(--gradient-400) 56.66%) no-repeat center/cover, linear-gradient(90.34deg, var(--gradient-500) -73.79%, var(--gradient-300) 87.88%) no-repeat center/cover, linear-gradient(0deg, var(--gradient-500), var(--gradient-400)) no-repeat center/cover;
}

section:nth-child(even){
    background: linear-gradient(265.21deg, var(--gradient-500) -16.97%, var(--gradient-400) 56.66%) no-repeat center/cover, linear-gradient(90.34deg, var(--gradient-500) -73.79%, var(--gradient-300) 87.88%) no-repeat center/cover, linear-gradient(0deg, var(--gradient-500), var(--secondary-400)) no-repeat center/cover;
}

.container {
    margin-inline: auto;
    width: 90%;
    max-width: 1600px;
}

.text-center {
    text-align: center;
}

.mt-s {
    margin-top: var(--space-2);
}

.mb-s {
    margin-bottom: var(--space-2);
}

.mb-1 {
    margin-bottom: var(--space-3);
}

.mb-2 {
    margin-bottom: var(--space-4);
}

.mb-3 {
    margin-bottom: var(--space-5);
}

.my-xs {
    margin-block: var(--space-1);
}

.my-1 {
    margin-block: var(--space-3);
}

.my-2 {
    margin-block: var(--space-4);
}

.mx-auto {
    margin-inline: auto;
}

.section-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page-layout {
	display: grid;
	grid-template-rows: max-content auto max-content;
}
