// 400 is the base color. After that it depends on the lightness of hsl.
:root {
    --primary-300: hsl(261, 51%, 41%);
    --primary-400: hsl(261, 51%, 51%);
    --primary-500: hsl(261, 51%, 61%);
    --secondary: hsl(27, 98%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-300: hsl(0, 0%, 96%);
    --grey-400: hsl(0, 0%, 94%);
    --black: hsl(0, 0%, 0%);

    --fs-1: clamp(2rem, 0.625rem + 3.8636vw, 3rem);
    --fs-2: clamp(1rem, 0.625rem + 2vw, 1.5rem);
    --fs-3: 1.5rem;
    --fs-4: 2rem;

    --space-1: 0.3125rem;
    --space-2: 0.625rem;
    --space-3: 1rem;
    --space-4: 2rem;
    --space-5: 4rem;
    --space-50: 50%;

    --padding: 0.5em 1em;
    --animation-duration: 500ms;

    --hundred: 100%;
    --minus-hundred: -100%;
    --minus-two-hundred: -200%;

    --menu-position: 32px;
    --logo-size: 150px;
    @include respond(tab-port) {
        --logo-size: 250px;
    }
}
