@use '../../sass/abstracts/mixins';
@use '../../sass/layout/flex';

header {
  padding-block: var(--space-3);
  background-color: var(--primary-400);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hamburger-icon {
    font-size: var(--fs-fix-2);
    color: var(--white);
    cursor: pointer;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  .brand {
    &__logo {
      font-size: var(--fs-fix-1);
      color: var(--white);
      text-decoration: none;
    }

    &__logo-js {
      visibility: hidden;
      opacity: 0;

      @include mixins.transition-ease-in-out-mul(opacity, visibility);
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: var(--minus-two-hundred);
  width: 60vw;
  height: 100dvh;
  padding: 1.5rem 1.5rem 0 0;
  background-color: var(--primary-500);

  @include mixins.transition-ease-in-out(left);

  @include mixins.respond(tab-port) {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  .align-close-icon {
    display: flex;
    justify-content: end;

    @include mixins.respond(tab-port) {
      display: none;
    }
  }

  &__close {
    font-size: var(--fs-fix-2);
    color: var(--white);
    cursor: pointer;
  }

  &--active-js {
    left: 0;
  }

  &--active-js &__nav__item {
    @include mixins.translate;
  }

  &__nav {
    @include flex.flex-column(var(--space-3));

    justify-content: center;
    height: calc(100% - 15rem);

    @include mixins.respond(tab-port) {
      flex-direction: row;
      gap: var(--space-3);
      height: auto;
    }

    @include mixins.respond(tab-land) {
      gap: var(--space-4);
    }

    &__item {
      @include mixins.translate(horizontal, var(--minus-two-hundred));
      @include mixins.transition-ease-in-out;

      // Delay each nav item slide by 0.2s
      @for $x from 1 through 6 {
        &:nth-child(#{$x}) {
          transition-delay: $x * 0.2s;
        }
      }

      @include mixins.respond(tab-port) {
        @include mixins.translate;
      }
    }

    &__link {
      @include mixins.link-style;
      @include mixins.transition-ease-in-out-mul;

      display: block;
      color: var(--white);
      text-align: center;

      &:hover {
        transform: scale(1.3);
      }

      &:hover,
      &--active {
        color: var(--accent-500);
      }
    }
  }
}
