@use '../../sass/layout/flex';

.ui-icon {
  @include flex.flex-center;

  &__sun,
  &__moon {
    display: none;
    font-size: var(--fs-fix-1);
    color: var(--white);
    cursor: pointer;
  }

  .active-ui {
    display: inline-block;
    animation: ui-icon-fade-out var(--animation-duration) ease-in-out;
  }
}
