section {
    padding-block: var(--space-4);
}

section:nth-child(odd){
    background: linear-gradient(265.21deg, var(--gradient-300) -16.97%, var(--gradient-400) 56.66%) no-repeat center/cover, linear-gradient(90.34deg, var(--gradient-500) -73.79%, var(--gradient-300) 87.88%) no-repeat center/cover, linear-gradient(0deg, var(--gradient-500), var(--gradient-400)) no-repeat center/cover;
}

section:nth-child(even){
    background: linear-gradient(265.21deg, var(--gradient-500) -16.97%, var(--gradient-400) 56.66%) no-repeat center/cover, linear-gradient(90.34deg, var(--gradient-500) -73.79%, var(--gradient-300) 87.88%) no-repeat center/cover, linear-gradient(0deg, var(--gradient-500), var(--secondary-400)) no-repeat center/cover;
}

#hero-section {
    // Image will not display if you use solid color.
    // You must use color with alpha value.
    background: linear-gradient(145deg, var(--gradient-300) 25%, var(--gradient-400) 100%) no-repeat center/cover, url("../../../assets/hero.jpg") no-repeat center/cover;
}

.hero {
    min-height: calc(100dvh - ((var(--space-4) * 2) + 68px));
    @include flexColumn(var(--space-3));
    justify-content: center;
}

.about {
    @include flexColumn(var(--space-5));
    align-items: center;
    @include respond(tab-port) {
        flex-direction: row;
        justify-content: space-between;
    }

    & > div {
        @include respond(tab-port) {
            flex-basis: 47%;
        }
    }

    &__description {
        order: 1;
        @include respond(tab-port) {
            order: 0;
        }
    }

    &__avatar {
        border-radius: 50%;
        @include custom-respond(400) {
            height: 325px;
            width: 325px;
        }
    }
}

.skill-icons {
    @include flexWrap(var(--space-3));
}

.skill-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
