.projects {
    @include flexColumn(var(--space-4));
    @include respond(tab-port) {
        gap: var(--space-6);
    }
}

.project {
    @include flexWrap(var(--space-2));
    justify-content: space-between;
    &__name {
        color: var(--primary-400);
    }
    &__details {
        @include flexColumn(var(--space-2));
    }
    &__tag {
        padding: 0.4rem 0.8rem;
        background-color: var(--grey-300);
        border-radius: 3px;

        &-list {
            @include flexWrap(var(--space-2));
        }
    }
    &__cta-btn {
        @include flexWrap(var(--space-1));
    }

    &__details,
    &__thumbnail {
        @include respond(tab-port) {
            flex-basis: 49%;
        }
    }
}
