@use '../../sass/layout/flex';
@use '../../sass/abstracts/mixins';

#hero-section {
  // Image will not display if you use solid color.
  // You must use color with alpha value.
  background: linear-gradient(
      45deg,
      var(--gradient-100) 45%,
      var(--gradient-300) 100%
    ),
    linear-gradient(90deg, var(--gradient-300) 50%, var(--gradient-100) 100%),
    url('../../../assets/hero.jpg') no-repeat center/cover;
}

.hero {
  justify-content: center;
  min-height: calc(100dvh - ((var(--space-4) * 2) + 68px));

  @include flex.flex-column(var(--space-3));
}

.about {
  @include flex.flex-column(var(--space-5));

  align-items: center;

  @include mixins.respond(tab-port) {
    flex-direction: row;
    justify-content: space-between;
  }

  & > div {
    @include mixins.respond(tab-port) {
      flex-basis: 47%;
    }
  }

  &__description {
    order: 1;

    @include mixins.respond(tab-port) {
      order: 0;
    }
  }

  &__avatar {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}

.skill-icons,
.tech-stack {
  @include flex.flex-wrap(var(--space-3));
}

.skill-icon {
  @include flex.flex(null);
}
