@use '../../sass/abstracts/mixins';
@use '../../sass/layout/flex';

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: hsl(0deg 0% 0% / 60%);
  opacity: 0;
  backdrop-filter: blur(5px);

  @include mixins.transition-ease-in-out-with-delay(opacity, 250ms, 500ms);

  @include mixins.respond(tab-port) {
    @include flex.flex-center;
  }

  &--db-mess {
    @include flex.flex-center;

    .movie-db {
      padding: clamp(1rem, 2vw, 3rem);
      background-color: var(--bg, var(--success-500));

      &--error {
        --bg: var(--warning-500);
        --fg: var(--warning-400);
      }

      p {
        width: 90%;
        font-size: var(--fs-p);
        color: var(--fg, var(--success-400));
        text-align: center;
      }

      button {
        color: var(--fg, var(--success-400));
      }
    }
  }

  &__content {
    width: calc(100% - 2.5rem);
    max-width: 60rem;
    padding-bottom: var(--space-3);
    margin-block: var(--space-4);
    margin-inline: auto;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 var(--space-5) var(--space-7) rgb(0 0 0 / 30%);
    opacity: 0;
    transform: scale(0.5);

    @include mixins.transition-ease-in-out-mul-with-delay(transform, opacity, 250ms);

    @include mixins.respond(tab-port) {
      margin-block: initial;
      margin-inline: initial;
    }

    @include mixins.respond(tab-port) {
      display: flex;
      justify-content: space-between;
      padding: clamp(1rem, 2vw, 3rem);
    }

    .movie-text {
      margin-top: var(--space-2);

      @include mixins.respond(tab-port) {
        margin-top: 0;
      }
    }
  }

  &__content :is(&__primary-details :is(h2, p), &__secondary-details) {
    padding-inline: var(--space-3);

    @include mixins.respond(tab-port) {
      padding-inline: initial;
    }
  }

  &__content &__primary-details {
    flex-basis: 40%;
  }

  &__content &__secondary-details {
    flex-basis: 56%;
  }

  &__close {
    position: absolute;
    right: clamp(1rem, 5vw, 1.5rem);
    bottom: 5px;
    font-size: var(--fs-1);
    color: var(--black);
    cursor: pointer;
    background: none;
    border: none;
  }

  &--db-mess &__close {
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
  }

  /* JS CLASSES TO MAKE MODAL WORK */
  &--show {
    opacity: 1;

    @include mixins.transition-ease-in-out(opacity);
  }

  &--show &__content {
    opacity: 1;
    transform: scale(1);
  }
}
