.btn {
    display: block;
    width: fit-content;
    padding: var(--padding);
    background-color: var(--primary-400);
    color: var(--white);
    border: none;
    text-decoration: none;
    cursor: pointer;
    @include transitionEaseInOut(background-color);

    &:hover {
        background-color: var(--primary-300);
    }

    &:active {
        background-color: var(--primary-500);
    }

    &:focus {
        outline: none;
    }

    &--submit {
        margin-top: var(--space-3);
        width: var(--hundred);
    }

    &--submit[disabled] {
        background-color: var(--grey-400);
    }

    &--outline {
        background-color: transparent;
        color: var(--black);
        border: 1px solid var(--black);
        &:hover {
            border-color: var(--primary-400);
            background-color: var(--primary-400);
            color: var(--white);
        }
    }
}
