@use '../abstracts/mixins';
@use '../layout/flex';

.btn {
  display: block;
  width: fit-content;
  padding: var(--padding);
  color: var(--color-btn, var(--white));
  text-decoration: none;
  cursor: pointer;
  background-color: var(--background, var(--primary-500));
  border: none;

  @include mixins.transition-ease-in-out(background-color);

  &-group {
    @include flex.flex-wrap(var(--space-1));
  }

  &:hover {
    background-color: var(--background, var(--primary-400));
  }

  &:active {
    background-color: var(--primary-400);
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: default;
  }

  &--submit {
    width: var(--hundred);
    margin-top: var(--space-3);
  }

  &--submit[disabled] {
    background-color: var(--grey-400);
  }

  &--outline {
    color: var(--color-btn, var(--white));
    background-color: transparent;
    border: var(--border, 1px solid var(--black));

    &:hover {
      color: var(--color-btn, var(--white));
      background-color: var(--background, var(--primary-400));
      border: var(--border, 1px solid var(--primary-400));
    }
  }
}
