@use '../layout/flex';

.cards {
  @include flex.flex-wrap(var(--space-3));

  text-align: left;
}

.card {
  width: min(100%, var(--card-width));
  background-color: var(--grey-300);
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  &__thumbnail {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-weight: bold;
  }

  &__body {
    padding: var(--space-2);
  }
}
