.cards {
  @include flexWrap(var(--space-3));
  text-align: left;
}

.card {
  width: min(100%, var(--card-width));
  background-color: var(--grey-300);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__thumbnail {
    object-fit: cover;
    width: 100%;
  }
  &__title {
    font-weight: bold;
  }
  &__body {
    padding: var(--space-2);
  }
}


