@use '../abstracts/mixins';
@use '../layout/flex';

.footer {
  background-color: var(--grey-400);

  &__content {
    align-items: center;
    justify-content: space-between;
    padding-block: var(--space-3);

    @include flex.flex-column(var(--space-3));

    @include mixins.respond(tab-land) {
      flex-direction: row;
    }
  }
}

.developer-link {
  @include mixins.link-style;

  color: var(--secondary-400);

  @include mixins.transition-ease-in-out(color);
}

.social {
  @include flex.flex-wrap(var(--space-2));

  &__icon {
    color: var(--black);

    @include mixins.transition-ease-in-out(color);

    &:hover {
      color: var(--primary-500);
    }
  }
}
