@use '../abstracts/mixins';
@use '../layout/flex';

.footer {
  background-color: var(--grey-400);
  &__content {
    padding-block: var(--space-3);
    @include flex.flexColumn(var(--space-3));
    justify-content: space-between;
    align-items: center;
    @include mixins.respond(tab-land) {
      flex-direction: row;
    }
  }
}
.developer-link {
  @include mixins.linkStyle;
  color: var(--secondary-400);
  @include mixins.transitionEaseInOut(color);
}
.social {
  @include flex.flexWrap(var(--space-2));
  &__icon {
    color: var(--black);
    @include mixins.transitionEaseInOut(color);
    &:hover {
      color: var(--primary-500);
    }
  }
}
