.form {
    max-width: 43rem;

    &__group {
        margin-bottom: var(--space-2);
    }
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    display: block;
    width: var(--hundred);
    padding: var(--space-2);
    border: 1px solid var(--grey-400);
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary-400);
}

// Media queries
.form {
    @include respond(tab-port) {
        margin-inline: auto;
    }
}
