@use 'sass:meta';

@mixin flex($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @if meta.type-of($gap) != 'null' {
    gap: $gap;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column($gap) {
  display: flex;
  flex-direction: column;

  @if meta.type-of($gap) != 'null' {
    gap: $gap;
  }
}

@mixin flex-wrap($gap) {
  display: flex;
  flex-wrap: wrap;

  @if meta.type-of($gap) != 'null' {
    gap: $gap;
  }
}
