@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn($gap) {
    display: flex;
    flex-direction: column;
    @if type-of($gap) != 'null' {
        gap: $gap;
    }
}
