@use '../../sass/abstracts/mixins';

.experiences {
  position: relative;

  &::before {
    position: absolute;
    height: 100%;
    content: '';
    border-right: 3px solid var(--black);

    @include mixins.respond(tab-land) {
      left: 48%;
    }
  }
}

.experience {
  --work-type-duration-position: -60%;
  --work-type-duration-position-right: -55%;
  --circle: 15px;
  --circle-position: -12.5%;

  position: relative;
  margin-left: var(--space-4);

  @include mixins.custom-respond(1500) {
    --work-type-duration-position: -47%;
    --work-type-duration-position-right: -43%;
  }

  @include mixins.custom-respond(400) {
    --circle-position: -11%;
  }

  @include mixins.respond(tab-port) {
    --circle-position: -5.2%;
  }

  @include mixins.respond(tab-land) {
    --circle-position: 103.3%;
  }

  @include mixins.respond(tab-land) {
    max-width: 46%;
    margin-left: 0;
  }

  &:not(:last-child) {
    margin-bottom: var(--space-4);
  }

  &::before {
    position: absolute;
    left: var(--circle-position);
    width: var(--circle);
    height: var(--circle);
    content: '';
    background-color: var(--secondary-500);
    border-radius: var(--fifty);
  }

  &__company {
    @include mixins.respond(tab-land) {
      top: -1%;
    }
  }

  &__company,
  &__period {
    @include mixins.respond(tab-land) {
      position: absolute;
    }
  }

  &--left &__company,
  &--left &__period {
    @include mixins.respond(tab-land) {
      right: var(--work-type-duration-position);
    }
  }

  & &__contributions {
    margin-block: var(--space-2);
    font-size: var(--fs-p);
    list-style: inside;
  }

  &--order {
    @include mixins.respond(tab-land) {
      margin-left: var(--fifty);

      --circle-position: -5.3%;
    }
  }

  &--order :is(&__company, &__period) {
    @include mixins.respond(tab-land) {
      left: var(--work-type-duration-position-right);
    }
  }
}
